[neopixel daylight]
pin: PB0
chain_count: 36
color_order: GRB


[temperature_sensor chamber_temp]
sensor_type: Generic 3950
sensor_pin: PF4

[controller_fan electronics_fan_right]
pin: PA8
fan_speed: 1.0
heater: extruder, heater_bed
stepper:

[heater_fan nevermore]
pin: PD12
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: heater_bed
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 60
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

